<?xml version="1.0"?>
<!--
/**
 * @package   CustomKaza\CustomAttributeCustomer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:CustomerAttribute/etc/module.xsd">
    <module name="CustomKaza_CustomAttributeCustomer" setup_version="1.0.0" />
</config>
